.charway{
      background-color: aqua;
      
  } 
  .img-src{

    /* background-image: url('image/img.jpg') */
    /* background-image: url('https://user-images.githubusercontent.com/93643643/140038392-d8f952ac-ebf1-439f-8d7c-8a451397999b.jpg') */
    
  }
.anyname{

    font-family: 'Times New Roman';
    font-size: 30px;
    color: blueviolet;
  }